<pre>
{{ case.case_caption.court }}
{{ case.case_caption.district }}

{{ case.case_caption.plaintiff }},
    Plaintiff,

v.

{{ case.case_caption.defendant }},
    Defendant.
____________________________________)
)
) Case No. {{ case.case_caption.case_number }}
)
) COMPLAINT FOR DAMAGES AND
) INJUNCTIVE RELIEF
)
) JURY TRIAL DEMANDED
)
____________________________________)

</pre>